{% extends 'layouts/base.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if session('messages') %}
  <div class="alert alert-danger" role="alert">
    {{session('messages')}}
  </div>
{% endif %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div id="table">
            {{(form_start(form))| raw}}
            {{(form_row(form.id))| raw}}
            {{(form_row(form.operation_key))| raw}}
            {{(form_row(form.submit))| raw}}

            <button class="form-control" name="name" value="delete" type="submit">削除</button>
                    {{(form_end(form))| raw}}


      </div>
    </div>
  </div>
</div>
{% endblock %}